/* .searchForm {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  /* justify-content: center; */
/* align-items: center;
  min-height: 64px; */
/* color: #fff; */
/* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), */
/* 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */

/* background-color: rgb(44, 105, 158);
  display: flex; */
/* justify-content: space-between; */
/* align-items: center;
  padding: 24px 48px;
} */

/* .logo {
  margin-right: 120px;
} */

/* //============ */
.searchForm {
  width: 80%;
  max-width: 480px;

  overflow: hidden;
  max-width: max-content;
}
.searchFormInput {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  /* border: none; */
  /* outline: none; */
  max-width: max-content;
  padding: 4px;
  margin-right: 12px;
}

.searchFormInput::placeholder {
  font: inherit;
  font-size: 16px;
}
