.button:not(:last-child) {
  margin-right: 6px;
}

.button :hover {
  background-color: hotpink;
}

.button:active {
  background-color: indigo;
}

.activ {
  border: 2px solid red;
}

.button {
  width: 56px;
}
